@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.root,
body,
html {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom styles */
.nav-item {
  position: relative;
  display: inline-block;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #8d5c14;
  transition: width 0.4s ease-out;
}

.nav-item:hover::after,
.nav-item.active::after {
  width: 100%;
}
